<div th:fragment="footer">
    <footer class="footer text-body-secondary py-5">
        <div class="container">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/blog" class="nav-link px-2 text-body-secondary">Блог</a></li>
            <li class="nav-item"><a href="/blog/add" class="nav-link px-2 text-body-secondary">Добавить статью</a></li>
            </ul>
            <p class="text-center text-body-secondary">© 2024</p>
        </div>
    </footer>
</div>
